<nav class="navbar navbar-expand-md navbar-dark bg-dark main-menu">
  <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li *ngIf="!authService.logIn()" class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>

          <li *ngIf="!authService.logIn()" class="nav-item">
            <a class="nav-link" routerLink="register">Registrarse</a>
          </li>

          <li *ngIf="authService.logIn()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Posts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink="posts">Ver Todos</a>
              
            </div>
          </li>
          <li *ngIf="authService.logIn()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="user" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Bienvenido {{authService.getUsername()}}
            </a>
            <div class="dropdown-menu" aria-labelledby="user">
              <a class="dropdown-item" routerLink="/posts">Ver Perfil</a>
              <a class="dropdown-item" (click)="authService.logout()">Salir</a>
            </div>
          </li>

      
        </ul>
      
      </div>
  </div>
</nav>